body{
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 75rem;
    padding-top: 4.5rem;
}


h1 {
    border-style : solid;
    padding-top : 1em;
    padding-bottom : 1em;
    padding-left: 1em;
    background-color : lightslategray;
    color : white;

}

section{
    margin:1rem;
    padding:2rem;
    background-color:lightsteelblue;
    border-style: dashed;
    border-radius: 2em;
    

}

/*class*/
.important{
    color: firebrick;
}

/*id*/
#current{

}

#myname{
    color: firebrick;
}

/*need 3 more selectors (one of each)
use CSS grid or Flexbox with child elements to layout main components
validate html and css with link in instructions*/